*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html{
    font-size: 62.5%;
}
body{
    background-image: url('/ai brain.jpg');
    background-position: top;
    background-repeat: no-repeat;
  
    background-size: contain;
    background-blend-mode: darken;
color: rgb(255, 255, 255);
font-size: 2rem;



}  
#opacity{
    background-color:rgba(0, 0, 0, 0.507);
    /* opacity: .5; */
}
header{
    background-color: rgb(161, 42, 42);
    border-radius: 2rem;
    /* margin-left: 2rem;
    margin-right: 2rem; */
    width: 99%
    /* margin: auto; */
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2.4rem;
   
}
#heading{
    font-size: 4rem;
    font-weight: bolder;
}
h2{
    margin-left: 1rem ;
    font-family: 'Share Tech Mono', monospace;
   
}
ul{
    list-style: none;
    display: flex;
   
    justify-content: space-between;
    align-items: center;
}

li{
    margin-left: 3rem;
    margin-right: 3rem;
}
a{
    text-decoration: none;
    color: aqua;

}
a:hover{
   transform: scale(1.1);
   /* font-size: 2.5rem; */
   background-color: black ;
   border-radius: .8rem;
   border-bottom: .3rem double white;
}
#home{
    border-bottom: .4rem double white;
}

h1{
    text-align: center;
    font-size: 5rem;
    font-family: 'Oleo Script Swash Caps', cursive;
    margin-top: 2rem;
}
.main{
    /* margin: 2rem; */
    font-size: 2.5rem;
    line-height: 4rem;
}
.black{
    background-color: black;
    margin: 0;
    padding: 0;
}
img{
    display: block;
    width: 25%;
    margin: auto;
}
footer{
    margin-bottom: 2rem;
}
#footidea , #footaim{
    color: black;

}
#footidea:hover{
    background-color: white;
}
#footaim:hover{
    background-color: white;
}
